    @font-face{
    font-family: 'Kabel';
    src : url('./ITC-Kabel-Std-Book.woff');
    }

    #resultCard {
        width: 100%;
        min-height: 200px;
        margin-top: 2%;
    }
    
    #result {
        margin: 20px;
        font-family: "Kabel", ITC Kabel Std; /* arch字体*/
        white-space: pre-wrap; /* 保留换行符和空格 */
        cursor: pointer; /* 鼠标悬停时显示手形图标 */
    }