@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kabel";
  src: url("/ITC-Kabel-Std-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}
